# node
node_modules/

# build
dist/

# testing
latest.dump

# android
android.keystore
app-release-*
.gradle/
private_key.pepk

# cordova-res
resources/android/icon
resources/android/splash
resources/ios/icon
resources/ios/splash
resources/windows/icon
resources/windows/splash